// css for customised button

.button{ 
    width: 120px;
    height: 40px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #FB4C47;
    font-size: 15px;
}