// CSS
 $red : #FB4C47;
 $grey: #4B4F51;
    
.symptoms-container{
    margin-top: 8%;
    text-align: center;
    width: 100%;
    height: 750px;

    .symptoms-alert p{
        color: $red;
        font-weight: 700;
        font-style: normal;
        font-size: 22px;
        margin-block-end: 0.1em !important;
    }
    .symptoms-heading h2{
        font-weight: 700;
        font-style: normal;
        font-size: 38px;
        margin-block-start: 0;
        margin-block-end: 0.1em !important;
    }
    .symptoms-message p{
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: $grey ;
    }
    .symptoms-image {
        display: flex;
        .leaf-class{
            margin-top: 450px;
            margin-left: 40px;
            margin-right: 120px;
            img{
                width: 100px;
                height: 100px;
            }
        }
        img{
            height: 600px;
        }
        .leaf-class-two{
            margin-top: 450px;
            margin-left: 120px;
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    
}