.overview-class{
    display: flex;
    align-items: flex-end;

    img{
        width: 8%;
        height: 18%;
    }
}
.contagion-class{
    display: flex;
    flex-direction:row-reverse;
    img{
        width: 5%;
        height: 10%;
        margin-right: 40px;
    }
}
.footer-class{
    display: flex;
    img{
        width: 60px;
        height: 90px;
    }
}
.contact-class{
    display: flex;
    img{
        width: 5%;
        height: 10%;
        margin-left: 23%;
        margin-top: 10%;
    }
}